.navBar {
  background-color: black;
  /* height: 100vh; */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-right: 40px;
  position: fixed;
  z-index: 1000;
  /* box-sizing: border-box; */
}
.back {
  background-image: url(../img//background.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.topBarTxtWhite {
  color: white;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 5px;
  line-height: 40px;
  opacity: 0.7;
}
.topBarTxtWhite.active {
  /* text-decoration: underline;
  text-decoration-color: #0aff9d; */
  border-bottom: 1px solid #0aff9d;
}

.topBarTxtGreen {
  color: #0aff9d;
  border: 1px solid #0aff9d;
  padding: 10px 20px;
  font-size: 19px;
  font-weight: 600;
  /* margin-right: 20px; */
}
.topBar {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  width: 100%;
}
.txtTopBar {
  display: flex;
  gap: 40px;
}
.tkImg {
  width: 50px;
  height: 50px;
}
.sideBarIcon {
  background-color: white;
  padding: 5px;
  opacity: 0.9;
  width: 22px;
  height: 22px;
}
.sideBarIconRound {
  background-color: white;
  padding: 5px;
  opacity: 0.9;
  border-radius: 150px;
  width: 22px;
  height: 22px;
}
.sideBar {
  position: fixed;
  z-index: -1000;
  margin-left: 0px;
  /* left: 0; */
  top: 110px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 100%; */
  /* opacity: 0, 7; */
  /* height: 100vh; */
}
.hamburger {
  display: none;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 100px;
  height: 0px;
  width: 300px;
  /* background-color: rgba(255, 255, 255, 0); */
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: #111; */
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: none;
}

.sideBar {
  margin-left: 14px;
}

@media (max-width: 1020px) {
  .topBarTxtWhite {
    font-size: 14px;
    letter-spacing: 3px;
  }
  .txtTopBar {
    gap: 30px;
  }
  .topBarTxtGreen {
    padding: 10px 13px;
    font-size: 16px;
    font-weight: 600;
    /* margin-right: 20px; */
  }
}
@media (max-width: 720px) {
  .navBar {
    padding-right: 20px;
  }
  .txtTopBar {
    display: none;
  }
  .hamburger {
    display: block;
    color: #0aff9d;
    height: 40px;
    width: 40px;
    /* border: 1px solid green; */
  }
  .dropdown_menu {
    display: block;
    height: 0px;
  }
  .open {
    height: 250px;
    padding: 50px 0px;
  }
  .hamburgerBox {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .topBarTxtWhiteMenu {
    color: rgb(232, 222, 222);
    font-family: "Poppins", sans-serif;
    opacity: 0.7;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
  }
}
@media (max-width: 540px) {
  .sideBar {
    margin-left: 4px;
  }
}
@media (max-width: 440px) {
  .navBar {
    padding-right: 15px;
  }
  .hamburgerBox {
    gap: 10px;
  }
}
